* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Karla", sans-serif;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

::-webkit-scrollbar {
  display: none;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-content: center;
  padding: 2rem;
}
.wrapper .todo-app-container {
  width: 450px;
  max-width: 500px;
  max-height: 750px;
  height: 100vh;
  box-shadow: 5px 8px 25px rgba(0, 0, 0, 0.3137254902);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
}
.wrapper .todo-app-container header {
  flex: 1;
  border-radius: 2rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 1.5rem;
  background: #000000;
}
.wrapper .todo-app-container header h1 {
  text-align: center;
  padding: 1rem;
  font-weight: 800;
  color: rgb(255, 25, 117);
  color: #fff;
}
.wrapper .todo-app-container header h1 span {
  color: rgb(255, 25, 117);
}
.wrapper .todo-app-container .todo-list-container {
  flex: 8;
  padding: 1rem;
  overflow: scroll;
  padding: 1rem;
}
.wrapper .todo-app-container .todo-list-container .todo-item {
  padding: 1rem;
  box-shadow: 2px 3px 18px rgba(0, 0, 0, 0.2509803922);
  border-radius: 0.5rem;
  width: 100%;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.3s;
}
.wrapper .todo-app-container .todo-list-container .todo-item:hover {
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.2509803922);
}
.wrapper .todo-app-container .todo-list-container .todo-item.done {
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.2509803922);
}
.wrapper .todo-app-container .todo-list-container .todo-item.done p {
  -webkit-text-decoration: line-through red;
          text-decoration: line-through red;
  color: #999;
}
.wrapper .todo-app-container .todo-list-container .todo-item p {
  flex: 9;
  font-size: 1.1rem;
  font-weight: 500;
  pointer-events: none;
}
.wrapper .todo-app-container .todo-list-container .todo-item button {
  flex: 1;
  background: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  padding: 0.2rem;
  border-radius: 0.3rem;
  cursor: pointer;
}
.wrapper .todo-app-container .todo-list-container .todo-item button:hover {
  background: #f2a8a8;
}
.wrapper .todo-app-container .todo-list-container .todo-item button img {
  pointer-events: none;
}
.wrapper .todo-app-container .add-todo {
  flex: 1;
  padding: 1rem;
}
.wrapper .todo-app-container .add-todo form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .todo-app-container .add-todo input {
  width: 80%;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  outline: none;
  border: 1px solid #000;
}
.wrapper .todo-app-container .add-todo button {
  padding: 0.3rem;
  outline: none;
  border: none;
  background: #000000;
  border-radius: 0.5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
}
.wrapper .todo-app-container .add-todo button img {
  width: 41px;
}/*# sourceMappingURL=style.css.map */